<div id="password-edit">
  <div class="password-wrapper">
    <div class="password-header text-center">
      <h2>Please confirm your account</h2>
    </div>
    <div class="password-note">
      <p> To login, simply confirm your email address.Check your email (including spam and thrash folder) for an account
        confirmation email from LessonRoll. Then, click the link within the email to verify your email address.
      </p>
      If you can't find the email, click button here to resend:
    </div>
    <div class="password-content">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-groupx">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control reset-border-radius' %>
          </div>

          <div class="form-group submit-action text-center">
            <%= f.submit 'Resend confirmation email', class: 'btn btn-success', style: 'width: auto;' %>
          </div>
      <% end %>
    </div>
  </div>
</div>