<div class="tab-pane fade admin-course-wrapper" id="pending-review">
  <table class="table tablesorter" id="courses-list">
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Status</th>
      <th class="hide-on-mobile">Instructor</th>
      <th class="hide-on-mobile"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div style="background-image:url('<%= image_path('guitar.jpg') %>');" class="course-image"></div>
      </td>
      <td>
        <div class="border-right">
          <p> Guitar For Beginners in London
            <span class="hide-on-desktop"> Instructed By <%= link_to 'Marco Pietro', profile_instructors_path('marco-p') %> </span>
          </p>
          <%= link_to 'Go to Course', new_course_path('coursename'), class: 'btn btn-info reset-padding reset-border-radius' %>
        </div>
      </td>
      <td>
        <select>
          <option value="Published">Published</option>
          <option value="Pending Review">Pending Review</option>
          <option value="Rejected">Rejected</option>
          <option value="Unpublished">Unpublished</option>
        </select>

        <div class="hide-on-desktop course-status-save">
          <%= link_to 'Save', '#', class: 'btn btn-danger reset-padding reset-border-radius' %>
        </div>
      </td>
      <td class="hide-on-mobile">Marco Pietro</td>
      <td class="hide-on-mobile">
        <%= link_to 'Save', '', class: 'btn btn-danger reset-padding reset-border-radius' %>
      </td>
    </tr>
    <tr>
      <td>
        <div style="background-image:url('<%= image_path('guitar.jpg') %>');" class="course-image"></div>
      </td>
      <td>
        <div class="border-right">
          <p> Guitar For Beginners in London
            <span class="hide-on-desktop"> Instruct By <%= link_to 'Marco Pietro', profile_instructors_path('marco-p') %> </span>
          </p>
          <%= link_to 'Go to Course', new_course_path('coursename'), class: 'btn btn-info reset-padding reset-border-radius' %>
        </div>
      </td>
      <td>
        <select>
          <option value="Published">Published</option>
          <option value="Pending Review">Pending Review</option>
          <option value="Rejected">Rejected</option>
          <option value="Unpublished">Unpublished</option>
        </select>

        <div class="hide-on-desktop course-status-save">
          <%= link_to 'Save', '#', class: 'btn btn-danger reset-padding reset-border-radius' %>
        </div>
      </td>
      <td class="hide-on-mobile">Marco Pietro</td>
      <td class="hide-on-mobile">
        <%= link_to 'Save', '', class: 'btn btn-danger reset-padding reset-border-radius' %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
