<div class="tab-pane fade table-responsive" id="pending-review">
  <table class="table tablesorter" id="courses-list">
    <thead>
    <tr>
      <th></th>
      <th colspan="4">Name</th>
      <th>Status</th>
      <th>Instructor</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div style="background-image:url('<%= image_path('piano.jpg') %>');" class="admin-course-image"></div>
      </td>
      <td colspan="4">
        <div class="border-right">
          <p>Piano for Beginners in London</p>
          <%= link_to 'Go to Course', '/course/coursename', class: 'btn btn-info reset-padding reset-border-radius' %>
        </div>
      </td>
      <td>
        <select>
          <option value="Published">Published</option>
          <option value="Pending Review">Pending Review</option>
          <option value="Rejected">Rejected</option>
          <option value="Unpublished">Unpublished</option>
        </select>
      </td>
      <td>John Thomas</td>
      <td>
        <%= link_to 'Save', '#', class: 'btn btn-danger reset-padding reset-border-radius' %>
      </td>
    </tr>
    <tr>
      <td>
        <div style="background-image:url('<%= image_path('guitar.jpg') %>');"></div>
      </td>
      <td colspan="4">
        <div class="border-right">
          <p>Guitar For Beginners in London</p>
          <%= link_to 'Go to Course', '/course/coursename', class: 'btn btn-info reset-padding reset-border-radius' %>
        </div>
      </td>
      <td>
        <select>
          <option value="Published">Published</option>
          <option value="Pending Review">Pending Review</option>
          <option value="Rejected">Rejected</option>
          <option value="Unpublished">Unpublished</option>
        </select>
      </td>
      <td>Marco Pietro</td>
      <td>
        <%= link_to 'Save', '', class: 'btn btn-danger reset-padding reset-border-radius' %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
