<div id="courses">
  <div class="reset-padding">
    <div class="col-sm-3 side-menu reset-padding">
      <%= render 'shared/side_bar' %>
    </div>
    <div class="col-sm-9 content-wrapper reset-padding">
      <div class="content">
        <div class="content-heading content-heading-single-title">
          <div class="heading-top">
            <h2><%= image_tag 'dashboard/courses.png', class: 'courses-icon' %> Courses </h2>
            <%= link_to course_new_instructors_path, class: 'btn btn-success reset-border-radius  add-new-btn' do %>
                <i class="fa fa-plus"></i> New Course
            <% end %>
          </div>
        </div>
        <div class="content-body">
          <div class="content-nav">
            <ul class="nav nav-pills">
              <li class="active" role="presentation"><a data-toggle="tab" href="#all">All (68)</a></li>
              <li role="presentation"><a data-toggle="tab" href="#published">Published (68)</a></li>
              <li role="presentation"><a data-toggle="tab" href="#pending-review">Pending Review (112)</a></li>
              <li role="presentation"><a data-toggle="tab" href="#rejected">Rejected (5)</a></li>
              <li role="presentation"><a data-toggle="tab" href="#unpublished"> Unpublished (12)</a></li>
            </ul>
          </div>
          <div class="content-item">
            <div class="tab-content">
              <%= render 'admin/all_courses' %>
              <%= render 'admin/published_courses' %>
              <%= render 'admin/pending_review_courses' %>
              <%= render 'admin/rejected_courses' %>
              <%= render 'admin/unpublished_courses' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#courses-list').tablesorter({
            headers: {
                0: {
                    sorter: false
                },
                4: {
                    sorter: false
                }
            }
        });

        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-pills a[href="#' + url.split('#')[1] + '"]').tab('show');
        }

        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash;
        });
    });
</script>
