<div id="courses">
  <div class="reset-padding">
    <div class="col-sm-3 side-menu reset-padding">
      <%= render 'shared/side_bar' %>
    </div>
    <div class="col-sm-9 content-wrapper reset-padding">
      <div class="content">
        <div class="content-heading content-heading-single-title">
          <div class="heading-top">
            <h2><%= image_tag 'dashboard/courses.png', class: 'courses-icon' %> Courses </h2>
            <%= link_to new_course_path, class: 'btn btn-success reset-border-radius  add-new-btn' do %>
                <i class="fa fa-plus"></i> New Course
            <% end %>
          </div>
        </div>
        <div class="content-body">
          <div class="content-nav">
            <ul class="nav nav-pills">
              <li class="active" role="presentation">
                <a data-toggle="tab" href="#all">All (<%= @courses.count %>)</a>
              </li>
              <li role="presentation">
                <a data-toggle="tab" href="#published">
                  Published
                  (<span class="<%= AppData::COURSE_STATUS[:published] %>-count"><%= @group_course[AppData::COURSE_STATUS[:published]] || 0 %></span>)
                </a>
              </li>
              <li role="presentation">
                <a data-toggle="tab" href="#pending-review">
                  Pending Review
                  (<span class="<%= AppData::COURSE_STATUS[:pending_review].gsub(' ', '_') %>-count"><%= @group_course[AppData::COURSE_STATUS[:pending_review]] || 0 %></span>)
                </a>
              </li>
              <li role="presentation">
                <a data-toggle="tab" href="#rejected">
                  Rejected
                  (<span class="<%= AppData::COURSE_STATUS[:rejected] %>-count"><%= @group_course[AppData::COURSE_STATUS[:rejected]] || 0 %></span>)
                </a>
              </li>
              <li role="presentation">
                <a data-toggle="tab" href="#unpublished">
                  Unpublished
                  (<span class="<%= AppData::COURSE_STATUS[:unpublished] %>-count"><%= @group_course[AppData::COURSE_STATUS[:unpublished]] || 0 %></span>)
                </a>
              </li>
            </ul>
          </div>
          <div class="content-item">
            <div class="tab-content">
              <%= render 'admin/admin_courses', tab: 'all', klass: 'active', courses: @courses %>
              <%= render 'admin/admin_courses', tab: 'published', klass: '', courses: admin.published_course %>
              <%= render 'admin/admin_courses', tab: 'pending-review', klass: '', courses: admin.pending_course %>
              <%= render 'admin/admin_courses', tab: 'rejected', klass: '', courses: admin.rejected_course %>
              <%= render 'admin/admin_courses', tab: 'unpublished', klass: '', courses: admin.unpublished_course %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#courses-list').tablesorter({
            headers: {
                0: {
                    sorter: false
                },
                4: {
                    sorter: false
                }
            }
        });

        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-pills a[href="#' + url.split('#')[1] + '"]').tab('show');
        }

        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash;
        });
    });
</script>
