<div id="instructors">
  <div class="reset-padding">
    <div class="col-sm-3 side-menu reset-padding">
      <%= render 'shared/side_bar' %>
    </div>
    <div class="col-sm-9 content-wrapper reset-padding">
      <div class="content">
        <div class="content-heading content-heading-single-title">
          <div class="heading-top">
            <h2><i class="fa fa-users"></i> INSTRUCTORS </h2>
            <h4 class="sub-title"> <%= @instructor.full_name %> </h4>
          </div>
        </div>
        <div class="content-body">
          <%= form_for @instructor, url: admin_update_instructors_path(@instructor.id), html: {class: 'form-horizontal form-admin-edu'} do |f| %>
              <% if @instructor.errors.any? %>
                  <div class="form-group">
                    <div class="col-sm-3 control-label"></div>
                    <div class="col-sm-8">
                      <div class="alert alert-danger">
                        <%= raw errors_to_message_string(@instructor.errors) %>
                      </div>
                    </div>
                  </div>
              <% end %>
              <div class="form-group">
                <%= f.label :first_name, class: 'col-sm-3 control-label' %>
                <div class="col-sm-8">
                  <%= f.text_field :first_name, class: 'form-control reset-border-radius' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :last_name, class: 'col-sm-3 control-label' %>
                <div class="col-sm-8">
                  <%= f.text_field 'last_name', class: 'form-control reset-border-radius' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :email, 'Email Address', class: 'col-sm-3 control-label' %>
                <div class="col-sm-8">
                  <%= f.email_field :email, class: 'form-control reset-border-radius' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label 'Password', class: 'col-sm-3 control-label' %>
                <div class="col-sm-8">
                  <%= link_to admin_instructor_reset_password_path(@instructor.id), class: 'btn btn-danger reset-border-radius' do %>
                      Reset Password
                  <% end %>
                </div>
              </div>
              <div class="text-center">
                <%= f.button type: 'submit', class: 'btn btn-info reset-border-radius' do %>
                    <i class='fa fa-floppy-o'></i> Save
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



