<div id="instructors">
  <div class="reset-padding">
    <div class="col-sm-3 side-menu reset-padding">
      <%= render 'shared/side_bar' %>
    </div>
    <div class="col-sm-9 content-wrapper reset-padding">
      <div class="content">
        <div class="content-heading content-heading-single-title">
          <div class="heading-top">
            <h2><i class="fa fa-users"></i> INSTRUCTORS </h2>
            <%= link_to '', class: 'btn btn-success reset-border-radius add-new-btn' do %>
                <i class="fa fa-plus"></i> New User
            <% end %>
          </div>
        </div>
        <div class="content-body table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <%= link_to admin_view_instructors_path(user_id: 1), class: 'btn btn-info btn-sm reset-border-radius' do %>
                        <i class="fa fa-pencil-square-o"></i>
                    <% end %>
                  </td>
                  <td>Ling</td>
                  <td>Ling</td>
                  <td>test@test.com</td>
                  <td>
                    <%= link_to '', class: 'btn btn-danger reset-border-radius' do%>
                        Reset Password
                    <% end %>
                    <%= link_to '', class: 'btn btn-danger reset-border-radius' do%>
                        Unpublish
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= link_to admin_view_instructors_path(user_id: 1), class: 'btn btn-info btn-sm reset-border-radius' do %>
                        <i class="fa fa-pencil-square-o"></i>
                    <% end %>
                  </td>
                  <td>Ling</td>
                  <td>Ling</td>
                  <td>test@test.com</td>
                  <td>
                    <%= link_to '', class: 'btn btn-danger reset-border-radius' do%>
                        Reset Password
                    <% end %>
                    <%= link_to '', class: 'btn btn-danger reset-border-radius' do%>
                        Unpublish
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= link_to admin_view_instructors_path(user_id: 1), class: 'btn btn-info btn-sm reset-border-radius' do %>
                        <i class="fa fa-pencil-square-o"></i>
                    <% end %>
                  </td>
                  <td>Ling</td>
                  <td>Ling</td>
                  <td>test@test.com</td>
                  <td>
                    <%= link_to '', class: 'btn btn-danger reset-border-radius' do%>
                        Reset Password
                    <% end %>
                    <%= link_to '', class: 'btn btn-danger reset-border-radius' do%>
                        Unpublish
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>



