<div id="instructors">
  <div class="reset-padding">
    <div class="col-sm-3 side-menu reset-padding">
      <%= render 'shared/side_bar' %>
    </div>

    <div class="col-sm-9 content-wrapper reset-padding">
      <div class="content">
        <div class="content-heading content-heading-single-title">
          <div class="heading-top">
            <h2><i class="fa fa-users"></i> INSTRUCTORS </h2>
            <%= link_to admin_new_instructors_path, class: 'btn btn-success reset-border-radius add-new-btn' do %>
                <i class="fa fa-plus"></i> New User
            <% end %>
          </div>
        </div>
        <div class="content-body">
          <table class="table">
            <thead>
            <tr>
              <th class="hide-on-mobile">First Name</th>
              <th class="hide-on-mobile">Last Name</th>
              <th class="hide-on-mobile">Email</th>
              <th class="hide-on-desktop">Instructor</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @instructors.each do |instructor| %>
                <tr>
                  <td class="hide-on-desktop">
                    <%= instructor.full_name %> <br/>
                    <%= instructor.email %>
                  </td>
                  <td class="hide-on-mobile"><%= instructor.first_name %></td>
                  <td class="hide-on-mobile"><%= instructor.last_name %></td>
                  <td class="hide-on-mobile"><%= instructor.email %></td>
                  <td class="instructor-list-action">
                    <%= link_to admin_instructor_reset_password_path(instructor.id), class: 'btn btn-danger reset-border-radius reset-instructor-password' do %>
                        Reset Password
                    <% end %>
                    <%= link_to admin_instructor_unpublish_path(instructor.id), class: 'btn btn-danger reset-border-radius unpublish-instructor' do %>
                        Unpublish
                    <% end %>
                    <%= link_to admin_edit_instructors_path(instructor.id), class: 'btn btn-info reset-border-radius' do %>
                        <i class="fa fa-pencil-square-o"></i>
                    <% end %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="instructor-reset-password-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Password Already Created</h4>
      </div>

      <div class="modal-body">
        <p>This instructor already has a login password assigned. Do you want to reset their password and email them new
          login password?</p>
      </div>

      <div class="modal-footer">
        <a href="#" class="btn btn-default reset-border-radius"> Reset Password </a>
        <button type="button" class="btn btn-default reset-border-radius" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="admin-instructor-unpublished" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Confirm Unpublish</h4>
      </div>

      <div class="modal-body">
        <p>
          Are you sure wish to unpublish the selected instructor?
          Instructor will no longer be visible on the website but archived for historical reporting.
        </p>
      </div>

      <div class="modal-footer">
        <a href="#" class="btn btn-danger reset-border-radius"> Unpublish </a>
        <button type="button" class="btn btn-default reset-border-radius" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.reset-instructor-password').click(function (e) {
            var modalElement = $('#instructor-reset-password-modal');
            e.preventDefault();
            modalElement.find('.modal-footer a').attr('href', $(this).attr('href'));
            modalElement.modal('show');
        });

        $('.unpublish-instructor').click(function (e) {
            var modalElement = $('#admin-instructor-unpublished');
            e.preventDefault();
            modalElement.find('.modal-footer a').attr('href', $(this).attr('href'));
            modalElement.modal('show');
        });
    });
</script>