<div id="instructors">
  <div class="reset-padding">
    <div class="col-sm-3 side-menu reset-padding">
      <%= render 'shared/side_bar' %>
    </div>
    <div class="col-sm-9 content-wrapper reset-padding">
      <div class="content">
        <div class="content-heading content-heading-single-title">
          <div class="heading-top">
            <h2><i class="fa fa-users"></i> INSTRUCTORS </h2>
            <%= link_to admin_new_instructors_path, class: 'btn btn-success reset-border-radius add-new-btn' do %>
                <i class="fa fa-plus"></i> New User
            <% end %>
          </div>
        </div>
        <div class="content-body">
          <table class="table">
            <thead>
            <tr>
              <th class="hide-on-mobile">First Name</th>
              <th class="hide-on-mobile">Last Name</th>
              <th class="hide-on-mobile">Email</th>
              <th class="hide-on-desktop">Instructor</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="hide-on-desktop">
                Ling Ling <br/>
                test@test.com
              </td>
              <td class="hide-on-mobile">Ling</td>
              <td class="hide-on-mobile">Ling</td>
              <td class="hide-on-mobile">test@test.com</td>
              <td class="instructor-list-action">
                <%= link_to '', class: 'btn btn-danger reset-border-radius' do %>
                    Reset Password
                <% end %>
                <%= link_to '', class: 'btn btn-danger reset-border-radius' do %>
                    Unpublish
                <% end %>
                <%= link_to admin_view_instructors_path(user_id: 1), class: 'btn btn-info reset-border-radius' do %>
                    <i class="fa fa-pencil-square-o"></i>
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="hide-on-desktop">
                John Dohe <br/>
                john@test.com
              </td>
              <td class="hide-on-mobile">John</td>
              <td class="hide-on-mobile">Dohe</td>
              <td class="hide-on-mobile">john@test.com</td>
              <td class="instructor-list-action">
                <%= link_to '', class: 'btn btn-danger reset-border-radius' do %>
                    Reset Password
                <% end %>
                <%= link_to '', class: 'btn btn-danger reset-border-radius' do %>
                    Unpublish
                <% end %>
                <%= link_to admin_view_instructors_path(user_id: 1), class: 'btn btn-info reset-border-radius' do %>
                    <i class="fa fa-pencil-square-o"></i>
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="hide-on-desktop">
                Mick Qing <br/>
                qing@test.com
              </td>
              <td class="hide-on-mobile">Mick</td>
              <td class="hide-on-mobile">Qing</td>
              <td class="hide-on-mobile">qing@test.com</td>
              <td class="instructor-list-action">
                <%= link_to '', class: 'btn btn-danger reset-border-radius' do %>
                    Reset Password
                <% end %>
                <%= link_to '', class: 'btn btn-danger reset-border-radius' do %>
                    Unpublish
                <% end %>
                <%= link_to admin_view_instructors_path(user_id: 1), class: 'btn btn-info reset-border-radius' do %>
                    <i class="fa fa-pencil-square-o"></i>
                <% end %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



