<div id="instructors">
  <div class="reset-padding">
    <div class="col-sm-3 side-menu reset-padding">
      <%= render 'shared/side_bar' %>
    </div>
    <div class="col-sm-9 content-wrapper reset-padding">
      <div class="content">
        <div class="content-heading content-heading-single-title">
          <div class="heading-top">
            <h2><i class="fa fa-users"></i> NEW INSTRUCTOR </h2>
          </div>
        </div>
        <div class="content-body ">
          <div class="new-instructors-form">
            <%= form_for @instructor, url: admin_create_instructors_path, html: {class: 'form-horizontal form-admin-edu'} do |f| %>
                <% if @instructor.errors.any? %>
                    <div class="form-group">
                      <div class="col-sm-3 control-label"></div>
                      <div class="col-sm-8">
                        <div class="alert alert-danger">
                          <%= raw errors_to_message_string(@instructor.errors) %>
                        </div>
                      </div>
                    </div>
                <% end %>
                <div class="form-group">
                  <%= f.label :first_name, class: 'col-sm-3 control-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :first_name, class: 'form-control reset-border-radius', data: {errormessage_value_missing: 'first name not filled in'}, required: true %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :last_name, class: 'col-sm-3 control-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :last_name, class: 'form-control reset-border-radius', data: {errormessage_value_missing: 'last name not filled in'}, required: true %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :email, 'Email Address', class: 'col-sm-3 control-label' %>
                  <div class="col-sm-8">
                    <%= f.email_field :email, class: 'form-control reset-border-radius', data: {errormessage_value_missing: 'email not filled in'}, required: true %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :password, class: 'col-sm-3 control-label' %>
                  <div class="col-sm-8">
                    <%= f.password_field :password, class: 'form-control reset-border-radius', data: {errormessage_value_missing: 'password not filled in'}, required: true %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :confirm_password, 'Confirm Password', class: 'col-sm-3 control-label' %>
                  <div class="col-sm-8">
                    <%= f.password_field :password_confirmation, class: 'form-control reset-border-radius', data: {errormessage_value_missing: 'confirm password not filled in'}, required: true %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-8 col-sm-offset-3 text-center">
                    <%= f.button type: 'submit', class: 'btn btn-info reset-border-radius' do %>
                        <i class='fa fa-floppy-o'></i> Save
                    <% end %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



