<div id="page-list-wrapper">
  <div class="page-list-container clearfix">
    <div class="page-list-column">
      <div class="page-list-left-content side-menu col-sm-3  reset-padding">
        <%= render 'shared/side_bar' %>
      </div>

      <div class="page-list-right-content col-sm-9">
        <h4>Pages</h4>

        <p>All (25)</p>
        <table class="table table-responsive table-striped custom-table">
          <tbody>
          <tr>
            <td>
              <%= check_box_tag :page %> Title
            </td>
          </tr>

          <tr>
            <td>
              <b><%= check_box_tag :page %>
                Homepage</b><br>
              <%= link_to 'Edit', admin_edit_seo_page_path(page_id: 1) %>
            </td>
          </tr>

          <tr>
            <td>
              <b><%= check_box_tag :page %>Courses</b><br>
              <%= link_to 'Edit', admin_edit_seo_page_path(page_id: 1) %>
            </td>
          </tr>

          <tr>
            <td>
              <b><%= check_box_tag :page %>Course Category-guiter</b><br>
              <%= link_to 'Edit', admin_edit_seo_page_path(page_id: 1) %>
            </td>
          </tr>

          <tr>
            <td>
              <b><%= check_box_tag :page %>Course Category-Piano</b><br>
              <%= link_to 'Edit', admin_edit_seo_page_path(page_id: 1) %>
            </td>
          </tr>

          <tr>
            <td>
              <b><%= check_box_tag :page %>Course- Learn Guiter in London</b><br>
              <%= link_to 'Edit', admin_edit_seo_page_path(page_id: 1) %>
            </td>
          </tr>

          <tr>
            <td>
              <b><%= check_box_tag :page %>Course- Learn Piano in London</b><br>
              <%= link_to 'Edit', admin_edit_seo_page_path(page_id: 1) %>
            </td>
          </tr>

          <tr>
            <td>
              <b><%= check_box_tag :page %>Course- Learn Banjo in London</b><br>
              <%= link_to 'Edit', admin_edit_seo_page_path(page_id: 1) %>
            </td>
          </tr>
          </tbody>
        </table>


      </div>


    </div>
    <div class=""></div>
    <div class=""></div>
  </div>
</div>
