<div class="tab-pane fade in <%= klass %> instructor-course-wrapper" id="<%= tab %>">
  <table class="table tablesorter">
    <thead>
    </thead>
    <tbody>
    <% courses.each do |course| %>
        <tr>
          <td>
            <div style="background-image:url('<%= image_path(course.image.present? ? course.image : 'default-cover-image.jpg' )  %>');" class="course-image"></div>
          </td>
          <td colspan="4">
            <div class="instructors-course-name">
              <p><%= course.title %></p>
              <%= link_to 'Go to Course', show_course_path(course), class: 'btn btn-info reset-padding reset-border-radius goto-course-ling' %>
              <%= link_to edit_course_path(course), class: 'btn btn-info reset-padding reset-border-radius edit-course-link' do %>
                  <i class="fa fa-pencil-square-o"></i> Edit
              <% end %>
            </div>
          </td>
        </tr>
    <% end %>
    <% unless courses.present? %>
    <div class="text-center no-course-found alert alert-warning">
      <h3>No Courses Found</h3>
    </div>
    <% end %>
    </tbody>
  </table>
</div>