<div id="courses">
  <div class="reset-padding">
    <div class="col-sm-3 side-menu reset-padding">
      <%= render 'shared/instructor_side_bar' %>
    </div>
    <div class="col-sm-9 reset-padding content-wrapper">
      <div class="content">
        <div class="content-heading content-heading-single-title">
          <div class="heading-top">
            <h2><%= image_tag 'dashboard/courses.png', class: 'courses-icon' %> Courses </h2>
            <%= link_to new_course_path, class: 'btn btn-success reset-border-radius  add-new-btn' do %>
                <i class="fa fa-plus"></i> New Course
            <% end %>
          </div>
        </div>
        <div class="content-body">
          <div class="content-nav">
            <ul class="nav nav-pills">
              <li class="active" role="presentation"><a data-toggle="tab" href="#all">All (<%= @courses.count %>)</a>
              </li>
              <li role="presentation">
                <a data-toggle="tab" href="#published">Published (<%= @courses.published.count %>)</a></li>
              <li role="presentation">
                <a data-toggle="tab" href="#pending-review">Pending Review (<%= @courses.pending_review.count %>)</a>
              </li>
              <li role="presentation">
                <a data-toggle="tab" href="#rejected">Rejected (<%= @courses.rejected.count %>)</a></li>
              <li role="presentation">
                <a data-toggle="tab" href="#unpublished"> Unpublished (<%= @courses.unpublished.count %>)</a></li>
            </ul>
          </div>
          <div class="content-item">
            <div class="tab-content">
              <%= render 'instructors/course_list', tab: 'all', klass: 'active', courses: @courses %>
              <%= render 'instructors/course_list', tab: 'published', klass: '', courses: @courses.published %>
              <%= render 'instructors/course_list', tab: 'pending-review', klass: '', courses: @courses.pending_review %>
              <%= render 'instructors/course_list', tab: 'rejected', klass: '', courses: @courses.rejected %>
              <%= render 'instructors/course_list', tab: 'unpublished', klass: '', courses: @courses.unpublished %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

