<div id="courses">
  <div class="reset-padding">
    <div class="col-sm-3 side-menu reset-padding">
      <%= render 'shared/instructor_side_bar' %>
    </div>
    <div class="col-sm-9 reset-padding content-wrapper">
      <div class="content">
        <div class="content-heading content-heading-single-title">
          <div class="heading-top">
            <h2><%= image_tag 'dashboard/courses.png', class: 'courses-icon' %> Courses </h2>
            <%= link_to course_new_instructors_path, class: 'btn btn-success reset-border-radius  add-new-btn' do %>
                <i class="fa fa-plus"></i> New Course
            <% end %>
          </div>
        </div>
        <div class="content-body">
          <div class="content-nav">
            <ul class="nav nav-pills">
              <li class="active" role="presentation"><a data-toggle="tab" href="#all">All (68)</a></li>
              <li role="presentation"><a data-toggle="tab" href="#published">Published (68)</a></li>
              <li role="presentation"><a data-toggle="tab" href="#pending-review">Pending Review (112)</a></li>
              <li role="presentation"><a data-toggle="tab" href="#rejected">Rejected (5)</a></li>
              <li role="presentation"><a data-toggle="tab" href="#unpublished"> Unpublished (12)</a></li>
            </ul>
          </div>
          <div class="content-item">
            <div class="tab-content">
              <%= render 'instructors/all_courses' %>
              <%= render 'instructors/published_courses' %>
              <%= render 'instructors/pending_review_courses' %>
              <%= render 'instructors/rejected_courses' %>
              <%= render 'instructors/unpublished_courses' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

