<div id="password-edit">
  <div class="password-wrapper">
    <div class="password-header text-center">
        <h2>Reset Password</h2>
    </div>
    <div class="password-note">
      <p>
        Enter your desired password in the spaces below. We recommend a password of eight or more characters with a combination of letters and numbers.
      </p>
    </div>
    <div class="password-content">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group">
            <%= f.label :password, "Enter your new password ( min #{@minimum_password_length} characters))" %>
            <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control reset-border-radius' %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, "Enter your new password (again)" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control reset-border-radius' %>
          </div>

          <div class="form-group submit-action text-center">
            <%= f.submit "submit", class: 'btn btn-success' %>
          </div>
      <% end %>
    </div>
  </div>
</div>