<ul class="list-group">
  <li class="list-group-item">
    <%= link_to dashboard_path do %>
        <i class="fa fa-home"></i>
        <span>Dashboard</span>
    <% end %>
  </li>
  <li class="list-group-item">
    <%= link_to courses_path do %>
        <i>
          <%= image_tag 'dashboard/courses.png', class: 'img-responsive' %>
        </i>
        <span>Courses</span>
    <% end %>
  </li>
  <li class="list-group-item">
    <%= link_to instructors_path do %>
        <i class="fa fa-users"></i>
        <span>Instructors</span>
    <% end %>
  </li>
  <li class="list-group-item">
    <%= link_to seo_pages_path do %>
        <i>
          <%= image_tag 'dashboard/pages_seo.png', class: 'img-responsive' %>
        </i>
        <span>PAGES SEO</span>
    <% end %>
  </li>
  <li class="list-group-item">
    <%= link_to settings_path do %>
        <i class="fa fa-cog"></i>
        <span>Settings</span>
    <% end %>
  </li>
</ul>
