
<div id="music-gallary-wrapper">
  <div id="music-gallary-header-wrapper">
    <div class="container">
      <a href="#">
        <i class="fa fa-home"></i>
        / Music
      </a>

      <h3>Music</h3>
    </div>
  </div>

  <div id="music-gallary-content-wrapper">

    <div class="container">
      <div class="row col-lg-12 col-md-12 clearfix">
        <div class="left-sidebar col-lg-2" >Leftsidebar</div><!--For Left SideBar-->

        <div class="right-sidebar col-lg-10">
          <h3>Music</h3>
          <div class="row">
            <div class=" col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img1.png") %>

                <div class="image-text">
                  <a href="#">
                    Introduction to Piano-By PGN Piano!
                  </a>
                  <p>PGN Piano</p>
                </div>

              </div>

            </div>

            <div class="col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img2.png") %>

                <div class="image-text">
                  <a href="#">
                    Introduction to Piano-By PGN Piano!
                  </a>
                  <p>PGN Piano</p>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img3.png") %>
                <div class="image-text">
                  <a href="#">
                    Introduction to Piano-By PGN Piano!
                  </a>
                  <p>PGN Piano</p>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img4.png") %>
                <div class="image-text">
                  <a href="#">
                    Introduction to Piano-By PGN Piano!
                  </a>
                  <p>PGN Piano</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img1.png") %>

                <div class="image-text">
                  <a href="#">
                    Introduction to Piano-By PGN Piano!
                  </a>
                  <p>PGN Piano</p>
                </div>

              </div>

            </div>

            <div class="col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img2.png") %>

                <div class="image-text">
                  <a href="#">
                    Introduction to Piano-By PGN Piano!
                  </a>
                  <p>PGN Piano</p>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img3.png") %>
                <div class="image-text">
                  <a href="#">
                    Introduction to Piano-By PGN Piano!
                  </a>
                  <p>PGN Piano</p>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img4.png") %>
                <div class="image-text">
                  <a href="#">
                    Introduction to Piano-By PGN Piano!
                  </a>
                  <p>PGN Piano</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img1.png") %>

                <div class="image-text">
                  <a href="#">
                    Introduction to Piano-By PGN Piano!
                  </a>
                  <p>PGN Piano</p>
                </div>

              </div>

            </div>

            <div class="col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img2.png") %>

                <div class="image-text">
                  <a href="#">
                    Introduction to Piano-By PGN Piano!
                  </a>
                  <p>PGN Piano</p>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img3.png") %>
                <div class="image-text">
                  <a href="#">
                    Introduction to Piano-By PGN Piano!
                  </a>
                  <p>PGN Piano</p>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img4.png") %>
                <div class="image-text">
                  <a href="#">
                    Introduction to Piano-By PGN Piano!
                  </a>
                  <p>PGN Piano</p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>


  </div>
</div>

