<div class="tab-pane fade in active" id="basic-info">
  <div class="header-wrapper">
    <h3 class="reset-margin info-title hide-on-mobile">
      <i class="fa fa-book"></i>
      COURSES
    </h3>

    <p class="course-title hide-on-mobile">
      <b> <%= @course.title.present? ? @course.title : '' %> </b>
    </p>

    <h3 class="info-title text-center reset-margin">
      Basics
    </h3>

    <p class="sub-title text-center" style="margin-top: 10px;">
      Help students find your course
    </p>
  </div>
  <div class="input-container">
    <div class="form-wrapper">
      <%= form_for @course,html:{  id: 'course-form' }, remote: true do |f| %>
          <div class="alert form-alert hidden"></div>
          <div class="form-group input-validate-message-area">
            <%= f.label :title %>
            <div class="input-group">
              <%= f.text_field :title, class: 'form-control', placeholder: 'e.g. Piano for Beginners in 4 Days in London', data: {max_size: 82, bind: '.title-character', errormessage_value_missing: 'Please fill out this field', required: true, message: "Please fill out this field"} %>
              <span class="input-group-addon title-character">82</span>
            </div>
          </div>

          <div class="form-group input-validate-message-area">
            <%= label_tag 'Subtitle' %>
            <div class="input-group">
              <%= f.text_field :subtitle, class: 'form-control', placeholder: 'e.g. A-Z guide to playing Ed Sheeran, Foo Fighter songs on the piano', data: {max_size: 156, bind: '.sub-title-character', message: 'Please fill out this field', required: true} %>
              <span class="input-group-addon sub-title-character">156</span>
            </div>
          </div>

          <div class="form-group input-validate-message-area">
            <%= label_tag :category %>
            <%= f.select :category_id, Category.all.collect { |category| [category.title, category.id] }, {prompt: '-- Select One --'}, {class: 'form-control', data: {message: 'Please select a category', required: true}} %>
          </div>

          <%= render '/admin/course_action', builder: f if current_user.is_admin? %>

          <hr/>
          <div class="form-group text-center">
            <%= button_tag class: 'btn btn-success' do %>
                <i class="fa fa-save"></i> Save
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#course-form').syftValidator();
        countRemaining($('#course_title'));
        countRemaining($('#course_subtitle'));

        $('#course_title, #course_subtitle').keyup(function () {
            countRemaining($(this));
        });

        function countRemaining(element, value) {
            var maxSize = element.attr('data-max-size');
            var bind = element.attr('data-bind');
            getterSetter(element, maxSize, bind);
        }

        function getterSetter(element, maxSize, bind) {
            var value;
            value = element.val();
            if (value.length >= maxSize) {
                value = value.substring(0, maxSize);
                element.val(value);
                $(bind).html(0);
            }
            else {
                $(bind).html(maxSize - value.length);
            }
        }
    });
</script>
