<div class="tab-pane fade in active" id="basic-info">
  <div class="header-wrapper">
    <h3 class="reset-margin info-title hide-on-mobile">
      <i class="fa fa-book"></i>
      COURSES
    </h3>

    <p class="course-title hide-on-mobile">
      <b> <%= @course.title.present? ? @course.title : '' %> </b>
    </p>

    <h3 class="info-title text-center reset-margin">
      Basics
    </h3>

    <div class="sub-title text-center">
      <%= @course.subtitle.present? ? @course.title : '' %>
    </div>
  </div>
  <div class="input-container">
    <div class="form-wrapper">
      <%= form_for @course, remote: true do |f|%>
          <div class="alert form-alert"></div>
          <div class="form-group">
            <%= f.label :title %>
            <div class="input-group">
              <%= f.text_field :title, class: 'form-control', placeholder: 'e.g. Piano for Beginners in 4 Days in London', required: true %>
              <span class="input-group-addon">58</span>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag 'Subtitle' %>
            <div class="input-group">
              <%= f.text_field :subtitle, class: 'form-control', placeholder: 'e.g. A-Z guide to playing Ed Sheeran, Foo Fighter songs on the piano', required: true %>
              <span class="input-group-addon">120</span>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :category %>
            <%= f.select :category_id, Category.all.collect{|category| [category.title, category.id]}, { prompt: '-- Select One --'}, {class: 'form-control', required: true} %>
          </div>

          <hr/>
          <div class="form-group text-center">
            <%= button_tag  class: 'btn btn-success' do %>
                <i class="fa fa-save"></i> Save
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
