<div class="row">
  <div class="col-lg-12">
    <div class="col-sm-3">
      <div class="row">
        <div class="left-sidebar">
          <h3>
            <i class="fa fa-book"></i>
            Courses
          </h3>

          <div class="hide-on-desktop text-center" style="margin: 5px 0">
            <b> <%= @course.title if @course.present? %> </b>
          </div>
          <ul class="nav nav-tabs" id="course-create-tab">
            <li>
              <h3 class="course-info-text"> COURSE INFO </h3>
            </li>
            <li class="active">
              <a href="#basic-info"> Basics </a>
            </li>
            <li>
              <a href="#course-summary"> Course Summary </a>
            </li>
            <li>
              <a href="#course-image"> Image </a>
            </li>
            <li>
              <a href="#promo-video"> Promo Video </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div id="new-course" class="tab-content">
          <div class="course-submit-wrapper clearfix"> <%= course_status(@course) unless @course.new_record? %> </div>
          <%= render 'basic_info' %>
          <%= render 'summary' %>
          <%= render 'image' %>
          <%= render 'promo_video' %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#course-create-tab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show')
        })
    });
</script>