<div class="tab-pane fade in" id="course-image">
  <div class="header-wrapper">
    <h3 class="info-title text-center reset-margin">
      Course Image
    </h3>
  </div>
  <div class="input-container">
    <div class="form-wrapper">
      <% if @course.new_record? %>
          <p> Please complete course basics information and save first </p>
      <% else %>
          <div class="alert form-alert hidden"></div>
          <div class="form-group">
            <%= label_tag :cover_preview, 'Cover Preview:*' %>
            <div class="cover-preview">
              <div class="text-center">
                <%= image_tag @course.image_url.present? ? @course.image_url : 'default-cover-image.jpg', class: 'preview-image' %>
              </div>
              <p>
                A good course image is critical to a course's success. It should grab the attention of the viewer and
                help
                them understand the essence of what the course has to offer.
              </p>

              <p>
                <b> All images will be reviewed to make sure they meet the requirements for publication. </b>
              </p>
            </div>
          </div>
          <%= form_for @course, html: {id: 'upload-course-image-form'} do |f| %>
              <div class="form-group">
                <%= label_tag :image_upload, 'Add / Change Image:' %>
                <div class="input-group">
                  <%= text_field_tag :uploaded_image, 'No file selected', readonly: true, class: 'form-control' %>
                  <label class="input-group-btn">
                  <span class="btn btn-success">
                     Upload Image
                    <%= f.file_field :image, style: 'display: none;', class: 'upload-image-field' %>
                  </span>
                  </label>
                </div>
              </div>

              <hr/>
              <div class="form-group text-center">
                <button type="submit" class="btn btn-success">
                  <i class="fa fa-save"></i> Save
                </button>
              </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.upload-image-field').change(function () {
            readURL(this);
        });

        $('#upload-course-image-form').submit(function () {
            if ($('#course_image').val() == '') {
                popupMessage('Please upload a file', 'alert-info');
            }
            else {
                $(this).ajaxSubmit({
                    url: $(this).attr('action'),
                    dataType: 'script',
                    method: 'put'
                });
            }
            return false;
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.preview-image').attr('src', e.target.result);
                    $('#uploaded_image').val(input.files[0].name);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    });
</script>
