<div class="tab-pane fade in" id="promo-video">
  <div class="header-wrapper">
    <h3 class="reset-margin info-title text-center">
      Promo Video
    </h3>

    <div class="sub-title text-center" style="margin-top: 10px;">
      <p>
        Add a promotional video to your course
      </p>
    </div>
  </div>
  <div class="input-container">
    <% if @course.new_record? %>
        <p> Please complete course basics information and save first </p>
    <% else %>
        <div class="form-wrapper">
          <div class="alert form-alert hidden"></div>
          <div class="form-group">
            <%= label_tag :cover_preview, 'Video Preview:*' %>
            <div class="cover-preview">
              <div class="text-center" id="video-container">
                <% if @course.promo_video.present? %>
                    <div class="preview-video">
                      <iframe src="<%= @course.promo_video %>" frameborder="0" allowfullscreen></iframe>
                    </div>
                <% else %>
                    <%= image_tag 'promo_video_before_upload.jpg', class: 'preview-video' %>
                <% end %>
              </div>
              <p>
                <b> Don't forget to add a promo video! </b>
              </p>

              <p>
                Students who watch a well-made promo video are <b> 5X more likely to enrol </b> in your course. We've
                seen
                that statistic go up to 10X for exceptionally awesome videos.
              </p>
            </div>
          </div>
          <%= form_for @course, html:{id: 'edit-course-promo-video', remote: true} do |f|%>
              <div class="form-group">
                <div class="input-group">
                  <%= text_field_tag 'course_test_promo_video','',  placeholder: 'Enter YouTube link of video here', class: 'form-control' %>
                  <%= f.hidden_field :promo_video %>
                  <label class="input-group-btn">
                        <button class="btn btn-success">
                            <i class="fa fa-save"></i> Save
                        </button>
                  </label>
                </div>
              </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
    $(function(){
        $('#course_test_promo_video').change(function(){
            var youtubeUrl = $(this).val();
            if(!youtubeUrl.match(/^[a-zA-Z]+:\/\//)){
                youtubeUrl = "https://"+ youtubeUrl;
            }
            if(matchYoutubeUrl(youtubeUrl)){
                var youtubeVideoId = matchYoutubeUrl(youtubeUrl);
                var validYoutubeLink = "https://www.youtube.com/embed/" + youtubeVideoId;
                $('#video-container').html("<iframe src="+ validYoutubeLink +" frameborder='0' allowfullscreen></iframe>");
                $('#course_promo_video').val(validYoutubeLink);
            }
            else{
                $('#video-container').html('<%= image_tag 'promo_video_before_upload.jpg', class: 'preview-video' %>');
                popupMessage('Invalid Youtube link', 'alert-warning');
                $('#course_promo_video').val(null);
            }

        });
        $('#edit-course-promo-video').submit(function(e){
            e.preventDefault();
            if ($(this).find('#course_promo_video').val()){
                $(this).submit();
            }
            else{
                alert('No youtube link provided');
            }
            return false;
        });
    });
</script>
