<div id="music-gallary-wrapper">
  <div id="music-gallary-header-wrapper">
    <div class="container music-gallary-header-container">
      <%= link_to root_path do %>
          <i class="fa fa-home"></i>
      <% end %>
      <span class="white-color"> / <%= params[:category].underscore.gsub('_', ' ').humanize %> </span>

      <h3><%= params[:category].underscore.gsub('_', ' ').humanize %></h3>
    </div>
  </div>

  <div id="music-gallary-content-wrapper">

    <div class="container music-gallary-content-container">
      <div class="row col-lg-12 col-md-12 clearfix music-gallary-content-row">
        <div class="left-sidebar col-lg-2"></div>

        <div class="right-sidebar col-lg-10">
          <h3><%= params[:category].underscore.gsub('_', ' ').humanize %></h3>

          <div class="row image-widget-row">
            <div class="image-widget-column col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img1.png") %>

                <div class="image-text">
                  <a href='/course/coursename'>
                    Introduction to Piano-By PGN Piano!
                  </a>

                  <p>PGN Piano</p>
                </div>

              </div>

            </div>

            <div class="image-widget-column col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img2.png") %>

                <div class="image-text">
                  <a href='/course/coursename'>
                    Introduction to Piano-By PGN Piano!
                  </a>

                  <p>PGN Piano</p>
                </div>
              </div>
            </div>

            <div class="image-widget-column col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img3.png") %>
                <div class="image-text">
                  <a href='/course/coursename'>
                    Introduction to Piano-By PGN Piano!
                  </a>

                  <p>PGN Piano</p>
                </div>
              </div>
            </div>

            <div class="image-widget-column col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img4.png") %>
                <div class="image-text">
                  <a href='/course/coursename'>
                    Introduction to Piano-By PGN Piano!
                  </a>

                  <p>PGN Piano</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row image-widget-row">
            <div class="image-widget-column col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img1.png") %>

                <div class="image-text">
                  <a href='/course/coursename'>
                    Introduction to Piano-By PGN Piano!
                  </a>

                  <p>PGN Piano</p>
                </div>
              </div>
            </div>

            <div class="image-widget-column col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img2.png") %>

                <div class="image-text">
                  <a href='/course/coursename'>
                    Introduction to Piano-By PGN Piano!
                  </a>

                  <p>PGN Piano</p>
                </div>
              </div>
            </div>

            <div class="image-widget-column col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img3.png") %>
                <div class="image-text">
                  <a href='/course/coursename'>
                    Introduction to Piano-By PGN Piano!
                  </a>

                  <p>PGN Piano</p>
                </div>
              </div>
            </div>

            <div class="image-widget-column col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img4.png") %>
                <div class="image-text">
                  <a href='/course/coursename'>
                    Introduction to Piano-By PGN Piano!
                  </a>

                  <p>PGN Piano</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row image-widget-row">
            <div class="image-widget-column col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img1.png") %>
                <div class="image-text">
                  <a href='/course/coursename'>
                    Introduction to Piano-By PGN Piano!
                  </a>

                  <p>PGN Piano</p>
                </div>
              </div>
            </div>

            <div class="image-widget-column col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img2.png") %>

                <div class="image-text">
                  <a href='/course/coursename'>
                    Introduction to Piano-By PGN Piano!
                  </a>

                  <p>PGN Piano</p>
                </div>
              </div>
            </div>

            <div class="image-widget-column col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img3.png") %>
                <div class="image-text">
                  <a href='/course/coursename'>
                    Introduction to Piano-By PGN Piano!
                  </a>

                  <p>PGN Piano</p>
                </div>
              </div>
            </div>

            <div class="image-widget-column col-md-3 col-sm-6">
              <div class="image-container">
                <%= image_tag("img4.png") %>
                <div class="image-text">
                  <a href='/course/coursename'>
                    Introduction to Piano-By PGN Piano!
                  </a>

                  <p>PGN Piano</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

