<div id="music-gallary-wrapper">
  <div id="music-gallary-header-wrapper">
    <div class="container music-gallary-header-container">
      <%= link_to root_path do %>
          <i class="fa fa-home"></i>
      <% end %>
      <span class="white-color"> / <%= @category.title %> </span>

      <h3><%= @category.title %></h3>
    </div>
  </div>

  <div id="music-gallary-content-wrapper">

    <div class="container music-gallary-content-container">
      <div class="row col-lg-12 col-md-12 clearfix music-gallary-content-row">
        <div class="left-sidebar col-lg-2"></div>

        <div class="right-sidebar col-lg-10">
          <h3><%= @category.title %></h3>

          <div class="row image-widget-row">
            <% @courses.each do |course| %>
                <div class="image-widget-column col-md-3 col-sm-6">
                  <%= link_to show_course_path(course) do %>
                      <div class="image-container">
                        <%= image_tag course.image_url.present? ? course.image_url : image_url('default-cover-image.jpg') %>
                        <div class="image-text">
                          <%= course.title %>
                          <p><%= truncate(course.subtitle, length: 25, omission: '...') %></p>
                        </div>
                      </div>
                  <% end %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

