<div id="courses-wrapper">
  <div class="container clearfix">
    <%= render 'courses/category_courses', category: 'Guitar' %>
    <%= render 'courses/category_courses', category: 'Music Business' %>
    <%= render 'courses/category_courses', category: 'Music Production' %>
    <%= render 'courses/category_courses', category: 'Percussion' %>
    <%= render 'courses/category_courses', category: 'Song Writing' %>
  </div>
</div>

